.card{
  border: 1px solid black;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  transition: 0.15s all;
}

.card:hover{
  box-shadow: 4px 4px black;  
  translate: -4px -4px;
}

.card > h2 {
  font-size: 32px;
}

.card > img {
  border-radius: 16px;
}

.titleName{
  border-left: 8px solid green;
}

.info {
  margin: 16px;
}

.info > tag {
  background-color: rgb(173, 173, 173);
  border-radius: 8px;
  padding: 4px;
  margin: 4px;
  color: black;
}