.card{
  border: 1px solid white;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  transition: 0.15s all;
  width: 300px;
}

.card:hover{
  box-shadow: 4px 4px white;  
  translate: -4px -4px;
}

.card > h2 {
  font-size: 32px;
  border-left: 8px solid #A9D3E9;
  font-size: 32px;
}

.card > img {
  border-radius: 16px;
}

.info {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.info > div {
  background-color: white;
  border-radius: 8px;
  padding: 4px;
  margin: 4px;
  color: black;
}